@media only screen and (max-width:1244px){
    /* .fa-bars{
    display: block;
    margin-right: 250px;
    margin-bottom: 50px;
    } */
     
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 240px;
    }
    .nav-list{
        flex-direction: row;
        justify-content: space-around;
        /* align-content: center; */
        width: auto;
        /* justify-content: center; */
    }
    .logo2{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    ul li {
        /* border:2px solid red; */
        margin-bottom: 9px;
        padding-bottom: 14px;
    }
     .fourinline{
         display: flex;
         flex-direction: column;
        /* justify-content: space-around; */
        margin: 0%;
     }
     .fourinline2{
        display: flex;
        flex-direction: column;
        margin: 0%;
     }
     .firstsem{
        border: 5px solid black;
        height: 958px;
        width: auto;
        
    }
    
    }